  

<div class="form-row"  *ngFor = "let recipe of recipes">
  <!--Section 1-->
  <div class="col-md-4">
    <div class="recipe-photo">
      <img alt="recipe-photo" src="..\src\assets\images\default.png"
        width="200" height="300">
    </div>
    <div class="form-row">
      <div class="form-group">
        
        <div class="form-inline">
          <label for="prep-time">Preparation time</label>
          <p>11</p>
        </div>
        
        <div class="form-inline">
          <label for="cook-time">Cooking time</label>
          <p>cooking time</p>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <label for="ready-in">Ready in</label>
          <p>Ready in</p>
        </div>
        
        <div class="form-inline">
          <label for="no-of-serving">Number of Serving</label>
          <p>servings</p>
        </div>
      </div>
    </div>
  </div>

  <!--Section 2-->
  <div class="col-md-8">
    <div class="form-group">
      <p>My title</p>
    </div>

    <div class="form-group">
      <p>My recipe description</p>
    </div>

    <div class="form-group">
      <label for="recipe-ingredents">Ingredents:</label>
      <p>My recipe ingredients</p>
    </div>

    <div class="form-group">
      <label for="recipe-direction">Direction:</label>
      <p>Direction to follow</p>
    </div>

    <div class="form-group">
      <input type="submit" value="Edit" routerLink='recipe-description'>
      <input type="button" value="Delete">
    </div>
  </div>
</div>
